services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  shell:
    build:
      dockerfile: "shell.dockerfile"
    command: ["/bin/bash"]
    volumes:
      - ./:/app
    working_dir: /app
    stdin_open: true
    tty: true
    network_mode: "host"

volumes:
  postgres_data:
